.label {
  text-decoration: underline;
}

/* ========================================================
   Body
======================================================== */

:root {
  --main-bg-color: coral;
  --font-body: 'Cabin', sans-serif;
}

body {
    font-family: var(--font-body);
    font-size: .9375rem;
    line-height: 1.2;
    color: #fff;
    background-color: #fff;
    margin: 0 auto;
}

/* ========================================================
   Universal Banner
======================================================== */

.univ-banner-container {
  position: relative;
  background-color: #aebae1;
  display: flex;
  justify-content: space-between;
  height: 50px;
  cursor: default;
}

button.nextButton {
  margin-right: 20px;
  background-color: #aebae1;
  border: none;
  cursor: pointer;
}

button.backButton {
  margin-left: 20px;
  background-color: #aebae1;
  border: none;
  cursor: pointer;
}

/* gets rid of highlight after user's click */
button.backButton:focus, button.nextButton:focus {
  outline: none;
  box-shadow: none;
}

/* ========================================================
   Header
======================================================== */

.header-container {
  background: black;
}

.header-items-list {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  margin: 0 auto;
}

.header-item {
  display: inline-flex;
  padding: 15px 20px;
  cursor: pointer;
}

/* header item being selected has different style */
.header-item.selected {
  background: white;
  color: black;
}

/* Moves the '1-2 day shipping' message ONLY to the right */
.header-message {
  position: relative;
  float: right;
  padding: 15px 20px;
  cursor: default;
}

/* on hover, change non-selected header items color */
.not-selected:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* ========================================================
   Main Navigation - Logo & Menu List
======================================================== */

/* align-item: center -> dropdown menu looking funky */
.main-nav-container {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid rgb(222, 222, 222);
}

.main-nav-logo {
  margin-right: 10px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.main-nav__item {
  color: black;
  padding: 25px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
  border-bottom: 1px solid transparent;
  margin-top: 14px;
}

.main-nav__item-name {
  transition: 400ms;
  border-bottom: 3px solid transparent;
  color: black;
  text-decoration: none;
}

.main-nav__item-name:hover {
  border-color: black;
}

/* ========================================================
   Main Navigation - Search
======================================================== */

/* ========================================================
   Main Navigation - Cart
======================================================== */

.cart-container {
  padding: 12px;
}

.cart-block-inner {
    max-height: 43vh;
    overflow-y: auto;
    padding: 0 20px 20px;
    font-size: 14px;
}

.cart-status, .cart-list {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cart-status {
  margin: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #bfbfbf;
}

.cart-list {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
}

.item__cart:hover .cart-block, .rect__wrapper, .main-navbar__icon--bag:hover .cart-block, .main-navbar__icon--bag:hover .rect__wrapper {
    opacity: 1;
    visibility: visible;
}