.Menu {
border: 1px solid black
}

.Header {
  border: 1px solid black
}

.label {
  text-decoration: underline;
}

/* ========================================================
   Body
======================================================== */

:root {
  --main-bg-color: coral;
  --font-body: 'Cabin', sans-serif;
}

body {
    font-family: var(--font-body);
    font-size: .9375rem;
    line-height: 1.2;
    color: #fff;
    background-color: #fff;
    margin: 0;
}

/* ========================================================
   Universal Banner
======================================================== */

.univ-banner-container {
  position: relative;
  background-color: #aebae1;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.univ-banner.message {
  display: flex;
}

.arrow-link {
  cursor: pointer;
  display: flex;
}

button.nextButton {
  margin-right: 20px;
  background-color: #aebae1;
  border: none;
}

button.backButton {
  margin-left: 20px;
  background-color: #aebae1;
  border: none;
}

/* gets rid of highlight after user's click */
button.backButton:focus, button.nextButton:focus {
  outline: none;
  box-shadow: none;
}

/* ========================================================
   Header
======================================================== */

.header-container {
  background: black;
}

.header-items-list {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
}

.header-item {
  display: inline-flex;
  padding: 15px 20px;
}

/* Moves the '1-2 day shipping' message ONLY to the right */
.header-item:nth-child(5) {
  position: relative;
  float: right;
}